.navbar {
    background: orange;
}

.funt {
    /* background-color: peru; */
    /* background-image: url(img/hack.png); */
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 0rem;
    text-align: center;
}


.banner {
    font-size: 90px;
    padding-top: 100px;
}

.container1 {
    color: aliceblue;
    width: 100%;
}

.container h5 {
    text-align: center;
}

.container {
    padding-top: 6.5rem;
}

.container h1 {
    padding-top: 6rem;
    font-size: 50px;
    width: 50%;
}

.container p {
    width: 70%;
    color: black;
}


